@import '../vendor/colors.scss';

:root {
    // Text
    --text-color: #{$black};
    --text-color-primary: #{$blue-two};
    --text-color-alternative: #{$gray};
    --text-inactive-color: #{$gray-two};
    --link: #{$light-blue};

    // Fonts
    --font-weight-extrabold: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --font-size: 14px;
    --font-size-xs: 12px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-extra-xl: 24px;
    --font-size-xxl: 36px;
    --font-size-extra-xxl: 40px;

    --line-height: 17px;
    --line-height-xs: 14px;
    --line-height-md: 19px;
    --line-height-lg: 22px;
    --line-height-xl: 24px;
    --line-height-extra-xl: 30px;
    --line-height-xxl: 43px;
    --line-height-extra-xxl: 48px;

    --font-family: 'Montserrat', sans-serif;

    // Background
    --bg-color: #{$white};
    --box-color: #{$purple};
    --box-color-gradient: #{$dark-to-light-purple};
    --box-color-gradient-reverse: #{$light-to-dark-purple};
    --box-color-light: #{$dark-blue-three};
    --box-color-dark: #{$dark-purple};


    // Additional elemets
    --additional-bg: #{$dark-gray};
    --additional-box: #{$dark-light-blue};
}