@import "./variables.scss";

* {
    scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
    width: 6px;
    background: var(--bg-color);
}

* ::-webkit-scrollbar-thumb {
    background: var(--bg-color-dark);
    border-radius: 38px;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
}

section {
    padding: 80px 119px 80px 134px;
}

a {
    text-decoration: none;
    color: var(--text-color-link);
}

.default-wrapper {
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
