.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    border: none;
    padding: 0 10px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size);
    line-height: var(--line-height);
    transition: all 0.1s ease-in;
    width: fit-content;
    height: 30px;
    box-shadow: none;
    &:active{
        opacity: 0.9;
    }
    &.border{
        background-color: transparent;
    }
    &__icon{
        margin-right: 5px;
    }
    // Colors
    &_white {
        background: var(--box-color);
        border-radius: 6px;
    }
    &_green {
        background: var(--success);
        color: var(--text-color-link);
    }
}