.checkbox {
  width: fit-content;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  appearance: none;
  transition: 0.2s;

  .custom-checkbox{
      cursor: pointer;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      &:not(:checked) + label::before {
        border: 2px solid var(--dark-link);
      }
  }

  label{
      cursor: pointer;
      color: var(--text-color-additional-gray);
      font-size: var(--font-size);
      line-height: normal;
      display: flex;
      align-items: center;
      &::before{
          transition: 0.3s;
          content: '';
          display: inline-block;
          margin-right: 8px;
          width: 22px;
          height: 22px;
          background: transparent;
          border-radius: 2px;
          border: 2px solid var(--link);
      }
  }
  
  .svg{
    z-index: -1;
    position: absolute;
    left: 2px;
    top: 2px;
    stroke-width: 2px;
  }
}

.checkbox-swiper{
    display: flex;
    align-items: center;
    gap: 10px;
    .switch {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 30px;
        input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;    
          background-color: #0F0E0E;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 20px;
          &:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 5px;
            bottom: 4px;
            border: 1px solid var(--additional-bg);
            border-radius: 100%;
            background-color: var(--text-inactive-color);
            -webkit-transition: .4s;
            transition: .4s;
          }
        }
        
        input:checked + .slider:before {
          -webkit-transform: translateX(38px);
          -ms-transform: translateX(38px);
          transform: translateX(38px);
          border: 1px solid var(--link);
          background-color: var(--dark-link);
        }

    }
    p{
        color: var(--text-color);
    }
}

  
  
  