.swipper-custom{
    cursor: pointer;
    padding: 2px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #e5e5e5;
    background: var(--box-color);
    justify-content: space-between;
    max-width: 400px;
    height: 30px;
    user-select: none;
    &__swipe{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        color: var(--text-inactive-color);
        .swipe-icon{
            margin-right: 10px;
        }
        &.active_swipe{
            background: rgba(227, 227, 255, 0.4);
            border: 1px solid var(--blue, #1C6090);
            border-radius: 6px;
            color: #434396;
        }
    }
}

@media (max-width: 576px) {
    .swipper-custom {
        font-size: 12px;
        text-align: center;
        &__swipe {
            &:first-child {
                width: 45%;
            }
        }
    }
}